@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-roboto: "Roboto Slab", serif;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.body {
    font-family: var(--font-roboto);
    background-color: #FFFFFF;
}

h1 {
    font-size: 50px;
    color: #174D2C;
}
